<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    Computer Engineering, Symfony Framework<br>
        {% block body %}{% endblock %}
    <br>****************Test*************<br>
        {% block javascripts %}{% endblock %}
    </body>
</html>
