{% extends 'homebase.html.twig' %}

{% block title %}User Comments{% endblock %}

{% block body %}
    <br><br><br><br><br><br><br><br><br><br>
    {{ include ('user/usermenu.html.twig') }}
    <div class="container">
        <div>
            <div class="col">
                <div class="section_title_container text-center">
                    <div class="section_subtitle"></div>
                    <div class="section_title">My Announcement</div>
                </div>
            </div>
        </div>

        <div class="row news_row">
            <div class="news_item">
                <div class="news_content">
                    <div class="news_title" style="text-align: center">New Regulations on the Crypto Market</div>
                    <div class="news_text">
                        My Announcement
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </div>
{% endblock %}
