<div class="main_menu_content col-md-2" style="float: left">
    <ul><div class="news_item">

            <li class="menu_item">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{{ asset('uploads/images/' ~ app.user.image) }}" class="user-avatar-md rounded-rectangle" style="height: 50px">  {{ app.user.name }} {{ app.user.surname }}</a>
                        </div>
                    </div>
                </div>
            </li>

            <li class="menu_item">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <a href="/user">My Profile</a>
                        </div>
                    </div>
                </div>
            </li>

            <li class="menu_item">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <a href="/user/duyuru">My Announcement</a>
                        </div>
                    </div>
                </div>
            </li>

            <li class="menu_item">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <a href="/user/comments">My Comments</a>
                        </div>
                    </div>
                </div>
            </li>

            <li class="menu_item">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <a href="/logout">Logout</a>
                        </div>
                    </div>
                </div>
            </li>
        </div>
    </ul>
</div>
